<li>
    <a href="/user">
        <i class="pe-7s-home"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Добавить пользователя">
    <a href="#" data-toggle="modal" data-target=".add-user-modal">
        <i class="pe-7s-add-user"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Все пользователи">
    <a href="/user/all-users">
        <i class="pe-7s-users"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Баланс">
    <a href="/user/balance">
        <i class="pe-7s-wallet"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Партнеры">
    <a href="/user/partners">
        <i class="pe-7s-link"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Доходы">
    <a href="/user/incomes">
        <i class="pe-7s-glasses"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Расходы">
    <a href="/user/expenses">
        <i class="pe-7s-piggy"></i>
    </a>
</li>
<li data-toggle="tooltip" data-placement="right" title="Справочник">
    <a href="/user/thesaurus">
        <i class="pe-7s-share"></i>
    </a>
</li>
